# Sets up a persistent history file from all shells.
# Based on original suggestion by Eli Bendersky (https://eli.thegreenplace.net/2013/06/11/keeping-persistent-history-in-bash),
# but also adds a local (i.e. per-directory) persistent history.

_PH_FILE=.persistent_history

log_bash_persistent_history()
{
  [[
    $(history 1) =~ ^\ *[0-9]+\ +([^\ ]+\ [^\ ]+)\ +(.*)$
  ]]
  local date_part="${BASH_REMATCH[1]}"
  local command_part="${BASH_REMATCH[2]}"
  if [ "$command_part" != "$PERSISTENT_HISTORY_LAST" ]; then
    # check that ph file is writable, OR doesn't exist and . is writable
    [[ -w $_PH_FILE || (! -e $_PH_FILE && -w .) ]] && echo $date_part "|" "$command_part" >> $_PH_FILE
    [[ ! ~/$_PH_FILE -ef $_PH_FILE ]] && echo $date_part "|" `pwd` "|" "$command_part" >> ~/$_PH_FILE
    export PERSISTENT_HISTORY_LAST="$command_part"
  fi
}

# Stuff to do on PROMPT_COMMAND
run_on_prompt_command()
{
    log_bash_persistent_history
}

PROMPT_COMMAND="run_on_prompt_command"

export HISTTIMEFORMAT="%F %T  "

# aliases to grep the global persistent history, local p/h, and normal bash history
alias gphgrep='cat ~/$_PH_FILE|egrep -v " \\| g?phgrep "|grep --color'
alias phgrep='cat $_PH_FILE|egrep -v " \\| g?phgrep "|grep --color'
alias hgrep='history|grep --color'

# aliases to run fuzzy finder on global p/h, local p/h, and normal bash history
if [ "`which fzf`" != "" ]; then
  alias gphfzf='cat ~/$_PH_FILE|fzf'
  alias phfzf='cat $_PH_FILE|fzf'
  alias hfzf='history|fzf'
fi

